{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block content %}
<div class="post-list">
  <header class="page-header d-flex">
    <h3 class="page-heading">Posts Feed</h3>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelId">
      New Post!
    </button>
    {% endif %}
  </header>
  <hr>
  {% if not posts.exists %}
  <p class="lead text-muted">No posts added yet..</p>
  {% else %}
  {% for post in posts %}
  <div class="card card-posts my-2">
    <div class="card-body d-flex">
      <div class="card-left">
        <a href="{{post.get_absolute_url}}"><p class="lead m-0">{{post.title}}</p></a>
            Author: <a class="" href="{% url 'profiles:profiles-list'%}{{post.owner.id}}/detail" >{{post.owner}}</a>
        {% if post.image %}
            {% thumbnail post.image "300x200" crop="center" as im %}
            <a href="{{post.get_absolute_url}}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
            {% endthumbnail %}
        {% endif %}
      </div>
      <div class="card-right">

            {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                <div class="image-info">
                    <div>
                        <span class="count">
                         <span class="total">{{ total_likes }}</span>
                         like{{ total_likes|pluralize }}
                        </span>
                        <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}unlike{% else %}like{% endif %}" class="like button">
                            {% if request.user not in users_like %}
                                Like
                            {% else %}
                                Unlike
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endwith %}


        <span class="count">
            {{ post.post_total_views }} view{{ post.post_total_views|pluralize }}
        </span>
      </div>

    </div>
  </div>
  {% endfor %}
  {% endif %}


  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
          <div class="modal-body">
            {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "users:user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          $('this.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

          $('this.like').text(parseInt(previous_action) == 'like' ? 'Unlike' : 'Like');

          var previous_likes = parseInt($('span.count .total').text());

          $('span.count .total').text(previous_action == 'unlike' ? parseInt(previous_likes) - 1 : parseInt(previous_likes) + 1);
          console.log(previous_likes, previous_action)
        }
      }
    );
  });
{% endblock %}